body {
  margin: 0;
  transition: background-color .5s;
}


.wrapper {
  background-image: url("./images/orange tri.png");
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: #464646;
  /*overflow: hidden!important;*/
  margin: 0 0 5% 0;
}

h1 {
font-family: Monofett;
font-style: normal;
font-weight: normal;
font-size: 15em;
line-height: .7em;
letter-spacing: 0.03em;
color: #33B4D0;
margin-top: unset;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h4 {
  font-family: Montserrat;
font-style: normal;
font-weight: 200;
font-size: 2em;
/*line-height: 73px;*/
letter-spacing: 0.03em;
text-transform: lowercase;
color: rgba(0, 0, 0, 0.9);
display: flex;
justify-content: center;
/*margin-bottom: 5%;*/
}

.flex {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  bottom: 0;
  margin-bottom: 0;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /*position: fixed;*/
  top: 60%;
  /*margin-top: 51%;*/
}

/*scrolling text animation*/

.scrolls {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: -5%;
  overflow: hidden;
  background: -webkit-linear-gradient(#1E4F59, #33B4D0, #fff);
}

.Iam {
  padding: 2em 3em;
  font: normal 40px/50px Montserrat, sans-serif;
  color: #fff;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.4em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  color: #211C14;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move 7s;
   -moz-animation:move 7s;
    -ms-animation:move 7s;
     -o-animation:move 7s;
        animation:move 7s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:2.5s;
   -moz-animation-delay:2.5s;
    -ms-animation-delay:2.5s;
     -o-animation-delay:2.5s;
        animation-delay:2.5s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}

.wcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wheader {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  font-size: 3em;
  line-height: 3em;
  letter-spacing: 0.03em;
  text-transform: lowercase;
  color: #1E4F59;
  text-align: center;
  /*width: 100%;*/
  display: flex;
  justify-content: center;
  margin-bottom: unset;
  text-shadow: none;
}

.wbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.wboxr {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.wboxr img {
  width: 100%;
  height: 100%;
  background-size: contain;
  /*align-items: end;
  margin-right: 0;
  margin-left: auto;*/
}

.wbox img {
  background-size: contain;
  width: 100%;
  height: 100%;
}

.wbox #headshot {
  background-color: #F5F5F5;
}


/*dropdown button*/

.navigation {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*background-color: #1E4F59;*/
    background: repeating-radial-gradient(
      circle at 0 0,
      #211C14,
      #000 4vw
    );

    box-shadow: 0 4px 4px -3px #232323;
    -moz-box-shadow: 0 4px 4px -3px #232323;
    -webkit-box-shadow: 0 4px 4px -3px #232323;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top:30px;
    text-align:center;
    list-style:none;
    margin-left:auto;
    margin-right:auto;
}


.menulist {
    text-align: center;
}


.line1, .line2, .line3 {
  margin-top:5px;
  background-color: white;
  width:30px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:3%;
  transition: all 1s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:white;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:white;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:white;
  top:-7px;
}

.menuitems {
    padding-top:.5%;
    padding-bottom:1%;
    text-decoration: none;
    list-style:none;
    font-family: "Montserrat";
    /*font-weight: 300;*/
    font-size: 24px;
    display: inline-block;
    position:relative;
    text-align:center;
    color: white;
    font-weight: bold;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #33B4D0;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px;
    position: absolute;
    text-decoration:none;
    top: 10px;
    left: 25px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index:100;
    color:#fff;
    cursor:pointer;
    transition:background-position .3s;
}

#main {
    transition: margin-top .4s;
    text-align:center;
    margin:0!important;
    padding: 16px;
    font-size:30px;
}

/*bouncing & blinking text*/

#blinking {
  animation:blinkingText 0.8s infinite;
}

.fast {
 height: 1%;
 /*overflow: hidden;*/
 position: relative;
 background: transparent;
 color: transparent;
}
.fast h4 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 1%;
 text-align: center;
 /* Starting position */
 -moz-transform:translateY(50%);
 -webkit-transform:translateY(50%);
 transform:translateY(50%);
 /* Apply animation to this element */
 -moz-animation: fast .75s linear infinite alternate;
 -webkit-animation: fast .75s linear infinite alternate;
 animation: fast .75s linear infinite alternate;
}
/* Move it (define the animation) */
@-moz-keyframes fast {
 0%   { -moz-transform: translateY(50%); color: #BB7A28; }
 100% { -moz-transform: translateY(-50%); color: #CCCCCC; }
}
@-webkit-keyframes fast {
 0%   { -webkit-transform: translateY(50%); color: #BB7A28; }
 100% { -webkit-transform: translateY(-50%); color: #CCCCCC;}
}
@keyframes fast {
 0%   {
  color: #BB7A28;
 -moz-transform: translateY(50%); /* Browser bug fix */
 -webkit-transform: translateY(50%); /* Browser bug fix */
 transform: translateY(50%);
 }
 100% {
  color: #CCCCCC;
 -moz-transform: translateY(-50%); /* Browser bug fix */
 -webkit-transform: translateY(-50%); /* Browser bug fix */
 transform: translateY(-50%);
 }
}
