body {
  margin: 0;
  transition: background-color .5s;
}


.wrapper {
  background-image: url("./images/orange tri.png");
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: #464646;
  /*overflow: hidden!important;*/
  margin: 0 0 10% 0;
}

h1 {
font-family: Monofett;
font-style: normal;
font-weight: normal;
font-size: 15em;
line-height: .7em;
letter-spacing: 0.03em;
color: #33B4D0;
margin-top: unset;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h4 {
  font-family: Montserrat;
font-style: normal;
font-weight: 200;
font-size: 3em;
/*line-height: 73px;*/
letter-spacing: 0.03em;
text-transform: lowercase;
color: rgba(0, 0, 0, 0.9);
/*margin-bottom: 2%;*/
padding-top: 1%;
padding-right: 1em;
padding-left: 1em;
border: 1px solid transparent;
}

a {
text-decoration: none;
}

h4:hover {
  /*border: 1px solid #33B4D0;
  border-radius: 7px;*/
  background: -webkit-linear-gradient(#33B4D0, rgba(255,153,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  bottom: 0;
  position: fixed;
  width: 80vw;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  bottom: 0;
  margin-bottom: 0;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /*position: fixed;*/
  top: 60%;
  /*margin-top: 51%;*/
}

/* Dropup Button */
/*.dropbtn {
  background-color: transparent;
  background:-moz-linear-gradient(top, #BB7A28 0%, #33B4D0 100%);
        background: -webkit-linear-gradient(top, #BB7A28 0%, #33B4D0 100%);
        background: linear-gradient(to bottom, #BB7A28 0%, #33B4D0 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropup content */
/*.dropup {
  position: relative;
  display: inline-block;
  margin-top: -98%;
  margin-right: 20%;
}*/

/* Dropup content (Hidden by Default) */
/*.dropup-content {
  display: none;
  position: absolute;
  border-radius: 7px;
  bottom: 100%;
  background-color: rgba(255,153,0,0.8);
  min-width: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}*/

/* Links inside the dropup */
/*.dropup-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}*/

/* Change color of dropup links on hover */
/*.dropup-content a:hover {
  background-color: transparent;
  color: #33B4D0;
  border-radius: 7px;
}*/

/* Show the dropup menu on hover */
/*.dropup:hover .dropup-content {
  display: block;
}*/

/* Change the background color of the dropup button when the dropup content is shown */
/*.dropup:hover .dropbtn {
  color: #566d72;
}*/


/*scrolling text animation*/

.scrolls {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: -5%;
  overflow: hidden;
  /*background: #1E4F59;*/
  background: -webkit-linear-gradient(#33B4D0, #000);
}

.Iam {
  padding: 2em 3em;
  font: normal 40px/50px Montserrat, sans-serif;
  color: #fff;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  color: rgb(51, 180, 208);
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move 7s;
   -moz-animation:move 7s;
    -ms-animation:move 7s;
     -o-animation:move 7s;
        animation:move 7s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:2.5s;
   -moz-animation-delay:2.5s;
    -ms-animation-delay:2.5s;
     -o-animation-delay:2.5s;
        animation-delay:2.5s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}

.wcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wheader {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  font-size: 3em;
  line-height: 3em;
  letter-spacing: 0.03em;
  text-transform: lowercase;
  color: #1E4F59;
  border: .25px solid #EDECEA;
  text-align: center;
  /*width: 100%;*/
  display: flex;
  justify-content: center;
  margin-bottom: unset;
  text-shadow: none;
}

.wbox {
  display: flex;
  flex-direction: column;
  border-top: .25px solid #EDECEA;
  width: 100%;
  height: 100%;
}

.wboxr img {
  width: 100%;
  height: 100%;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-right: 0;
  margin-left: auto;
}

.wbox img {
  background-size: contain;
  width: 100%;
  height: 100%;
}




/*dropdown button*/

.navigation {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1E4F59;
    box-shadow: 0 4px 4px -3px #232323;
    -moz-box-shadow: 0 4px 4px -3px #232323;
    -webkit-box-shadow: 0 4px 4px -3px #232323;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top:30px;
    text-align:center;
    list-style:none;
    margin-left:auto;
    margin-right:auto;
}


.menulist {
    text-align: center;
}


.logo {
    text-align: right;
    width: 5%;
    margin:0 auto;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#BB7A28;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:white;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:white;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:white;
  top:-7px;
}

.menuitems {
    padding-top:.5%;
    padding-bottom:1%;
    text-decoration: none;
    list-style:none;
    font-family: "Montserrat";
    /*font-weight: 300;*/
    font-size: 24px;
    display: inline-block;
    position:relative;
    text-align:center;
    color: #fff;
    opacity:0.0;
    transition: all .25s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px;
    position: absolute;
    text-decoration:none;
    top: 10px;
    left: 25px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index:100;
    color:#fff;
    cursor:pointer;
    transition:background-position .3s;
}

#main {
    transition: margin-top .4s;
    text-align:center;
    margin:0!important;
    padding: 16px;
    font-size:30px;
}
