body {
  margin: 0;
  /*transition: background-color .5s;*/
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  background-color: white !important;
  color: #303030;
  overflow-x: hidden;
}

.desc {
  margin-top: -9%;
  margin-bottom: 14%;
}

.title {
font-family: omnes-pro, sans-serif;
  font-weight: 500;
  color: #1E4F59;
  margin-left: -1.75%;
}

.left {
  /*display: flex;*/
  /*margin-left: 10%;*/
  margin-left: 15%;
  /*align-items: left;*/
}

.right {
  display: flex;
  justify-content: right;
  /*height: 80%;*/
  /*margin-right: 0;*/
  /*padding-right: 1%;*/
  text-align: right;
}

.rightbox {
  margin-left: 20%;
}

.wrapper {
  /*background-image: url("./images/orange tri.png");*/
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: #fff;
  /*overflow: hidden!important;*/
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: Monofett;
  font-style: normal;
  font-weight: normal;
  font-size: 12em;
  line-height: 0.7em;
  letter-spacing: 0.03em;
  color: #31312f;
  margin-top: 10%;
  /*margin-right: auto;*/
  /*margin-left: auto;*/
  /*display: flex;*/
  /*justify-content: center;*/
  text-align: center;
  /*text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);*/
}

h2 {
  /*background: #f4f4f4;*/
  border-radius: 5px;
  padding: 1.5%;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
  /*margin: auto;*/
  margin-top: 3%;
  font-size: 2em;
  font-weight: 100;
  /*text-align: center;*/
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

h3 {
  width: 70%;
  display: flex;
  justify-content: left;
  /*margin: auto;*/
  font-weight: 100;
  font-size: 1.25em;
  /*text-align: center;*/
}

.easy {
  width: 100vw;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.easy h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  font-size: 2em;
  /*line-height: 73px;*/
  letter-spacing: 0.03em;
  /*text-transform: lowercase;*/
  text-align: left;
  display: flex;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 3%;
  padding-bottom: 1%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.9);
}

.easy img {
  margin-right: 2%!important;
}

.center {
  text-align: center;
}

.role {
  margin-top: 0;
  padding-top: 0;
}

.z a {
  text-decoration: none;
}

footer .jumper {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: white;
}

footer .jumper:hover {
  border: 1px solid #1e4f59;
  color: #1e4f59;
}

footer {
  display: flex;
  color: white;
  width: 100vw;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  background-position: cover;
  background: repeating-radial-gradient(circle at 0 0, #211c14, #000 0.5vw);
  height: 20vh;
  margin-top: 13vh;
}

.empty-div {
  color: white;
  text-align: right;
}

.text {
  display: flex;
  width: 33.3%;
  padding-left: 2vw;
  /*flex-direction: row;*/
  /*justify-content: space-between;*/
}
.jumper {
  display: flex;
  /*height: 100%;*/
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 2%;
  color: rgba(0, 0, 0, 0.9);
  width: 10vw;
  height: 3vh;
  margin-bottom: 1%;
  border-radius: 5px;
  border: 0.25px solid rgba(0, 0, 0, 0.1);
}

.home {
  display: flex;
  /*height: 100%;*/
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1%;
  color: rgba(0, 0, 0, 0.9);
  width: 10vw;
  height: 2vh;
  margin-bottom: 1%;
  border-radius: 5px;
  border: 0.25px solid rgba(0, 0, 0, 0.1);
}

.top {
  display: flex;
  /*height: 100%;*/
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 2%;
  color: white;
  width: 12vw;
  height: 2vh;
  margin-bottom: 1%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0.25px solid white;
}

.home:hover,
.top:hover {
  border: 0.25px solid #1e4f59;
}

.home:active,
.top:active {
  background: #f4f4f4;
  color: black;
}

.jumper:hover {
  border: 0.25px solid #1e4f59;
  color: #1e4f59;
}

.jumper:active {
  background: #f4f4f4;
}

.mid-div {
  width: 33.3%;
  display: flex;
  justify-content: center;
}

.empty-div {
  width: 33.3%;
  padding-right: 2vw;
}

.casewrap {
  /*display: flex;*/
  /*justify-content: space-around;*/
  /*width: 100%;*/
  /*column-count: 2;*/
  line-height: 1.5em;
  /*column-gap: 1vw;*/
  /*padding-right: -5vw;*/
  letter-spacing: 0.03em;
  /*padding-left: 5vw;*/
  margin-left: auto;
  margin-right: auto;
  /*column-width: 100%;*/
}

.casewrapb {
  display: flex;
  justify-content: center;
  width: 100%;
  letter-spacing: 0.03em;
}

p {
  width: 65%;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 100;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
}

h6 {
  width: 65%;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 100;
  font-size: 0.85em;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  font-size: 2em;
  /*line-height: 73px;*/
  letter-spacing: 0.03em;
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  /*margin-bottom: 5%;*/
}

.flexhead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  bottom: 0;
  margin-bottom: 0;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /*position: fixed;*/
  top: 60%;
  /*margin-top: 51%;*/
}

/*scrolling text animation*/

.scrolls {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  padding-left: 7vw;
  margin-right: auto;
  overflow: hidden;
  background: -webkit-linear-gradient(#f1f1f1, #fff);
}

.Iam {
  padding: 2em 4em;
  font: normal 40px/50px Montserrat, sans-serif;
  color: #303030;
  text-align: center;
}
.Iam p {
  font-family: omnes-pro, sans-serif;
  height: 50px;
  width: 100%;
  color: #1e4f59;
  float: left;
  margin-right: 0.4em;
  text-align: center;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
  text-align: center;
}
.Iam .innerIam {
  text-align: center;
  display: inline-block;
  color: #211c14;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;

  /*animation*/
  -webkit-animation: move 7s;
  -moz-animation: move 7s;
  -ms-animation: move 7s;
  -o-animation: move 7s;
  animation: move 7s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-delay*/
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}

@-webkit-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@-moz-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@-o-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}

.wcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.wcontainerup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.wcontainerb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10vh;
}

.wheader {
  font-family: omnes-pro, sans-serif;
    /* font-style: normal; */
    font-weight: 800;
    font-size: 4em;
    line-height: 3em;
    letter-spacing: 0.03em;
    /* text-transform: lowercase; */
    color: #1e4f59;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: unset;
    text-shadow: none;
    background: white;
    /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05); */
    padding: 1%;
}

.wbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
}

.wbox img {
  width: 40vw;
  height: 40vh;
}

.wboxb {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*align-items: left;
}

.wboxrb {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
right: 0;
margin-right: 0;
justify-content: space-between;
/*align-items: right;*/
}

/*dropdown button*/

.navigation {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /*background-color: #1E4F59;*/
  background: -webkit-linear-gradient(#211c14, #303030);
  box-shadow: 0 4px 4px -3px #232323;
  -moz-box-shadow: 0 4px 4px -3px #232323;
  -webkit-box-shadow: 0 4px 4px -3px #232323;
  overflow: hidden;
  /*height: 30%;*/
  transition: all 0.4s ease-in-out;
}

.navigation a {
  text-decoration: none !important;
}

.navigation ul {
  margin-top: 2%;
  text-align: center;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.menulist {
  text-align: center;
  font-family: omnes-pro, sans-serif;
}

.line1,
.line2,
.line3 {
  margin-top: 5px;
  background-color: white;
  width: 30px;
  height: 3px;
  display: block;
  position: relative;
  opacity: 1;
  border-radius: 3%;
  transition: all 1s;
}

#topLeft {
  margin-top: 5px;
  /*background-color: white;*/
  color: white;
  /*width:30px;*/
  height: 3px;
  text-align: center;
  align-items: center;
  display: flex;
  margin-left: 2%;
  margin-top: 2%;
  font-family: omnes-pro, sans-serif;
  font-size: 2em;
  opacity: 1;
}

.line1.active {
  transform: rotate(270deg);
  opacity: 0;
  background-color: white;
  top: 5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color: white;
}

.line3.active {
  transform: rotate(-45deg);
  background-color: white;
  top: -7px;
}

.menuitems {
  padding-top: 0.5%;
  padding-bottom: 1%;
  text-decoration: none !important;
  list-style: none;
  font-size: 1.5em;
  line-height: 1.1em;
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.menuitems:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: white;
  transition: width 0.2s;
}

.menuitems:hover::after {
  width: 100%;
}

#closebtn {
  height: 25px;
  width: 25px;
  position: absolute;
  text-decoration: none;
  top: 10px;
  right: 25px;
  font-size: 36px !important;
  margin-right: 50px;
  z-index: 100;
  color: #fff;
  cursor: pointer;
  transition: background-position 0.3s;
}

#main {
  transition: margin-top 0.4s;
  text-align: center;
  margin: 0 !important;
  padding: 16px;
  font-size: 30px;
}

/*bouncing & blinking text*/

#blinking {
  animation: blinkingText 1s infinite;
}

.fast {
  height: 1%;
  /*overflow: hidden;*/
  position: relative;
  background: transparent;
  color: transparent;
  text-align: center;
  margin-top: -10%;
  margin-bottom: 10%;
}
.fast h4 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 5%;
  line-height: 1%;
  text-align: center;
  /* Starting position */
  -moz-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  /* Apply animation to this element */
  -moz-animation: fast 0.75s linear infinite alternate;
  -webkit-animation: fast 0.75s linear infinite alternate;
  animation: fast 0.75s linear infinite alternate;
}
/* Move it (define the animation) */
@-moz-keyframes fast {
  0% {
    -moz-transform: translateY(50%);
    color: #bb7a28;
  }
  100% {
    -moz-transform: translateY(-50%);
    color: #cccccc;
  }
}
@-webkit-keyframes fast {
  0% {
    -webkit-transform: translateY(50%);
    color: #bb7a28;
  }
  100% {
    -webkit-transform: translateY(-50%);
    color: #cccccc;
  }
}
@keyframes fast {
  0% {
    color: #5c7791;
    -moz-transform: translateY(50%); /* Browser bug fix */
    -webkit-transform: translateY(50%); /* Browser bug fix */
    transform: translateY(50%);
  }
  100% {
    color: #cccccc;
    -moz-transform: translateY(-50%); /* Browser bug fix */
    -webkit-transform: translateY(-50%); /* Browser bug fix */
    transform: translateY(-50%);
  }
}

.tube {
  width: 560px;
  height: 315px;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%; /* 16:9*/
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.header {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

#headshot {
  width: 10.5vw;
  margin-right: -2.5%;
}

.sub {
  font-size: 5em !important;
  margin-top: -10%;
  text-align: center;
  font-family: omnes-pro, sans-serif;
  font-size: 0.75em;
  margin-top: 1%;
}

.sub p {
  font-family: omnes-pro, sans-serif;
  color: #1e4f59;
  font-weight: 700;
  margin-top: -8%;
}

@media screen 
  and (min-device-width: 1400px) 
  and (max-device-width: 1600px) {
    #topLeft {
      display: none;
    }

    .sub {
      margin-top: 1%;
    }

    .scrolls {
      margin-top: 4%;
    }

    .menuitems {
      line-height: 1.25em!important;
    }

    #headshot {
      width: 9vw;
    }
  }
@media (min-width: 1025px) and (max-width: 1174px) {
  .fast, .blinking {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  body {
    100vw;
  }

  .scrolls {
    display: none;
  }

  .wheader {
    margin-top: -17%;
  }

  .menuitems {
    line-height: 1.5em;
    font-size: 1em;
  }

  .fast, .blinking {
    display: none;
  }

  .sub p {
    margin-top: -10%;
    width: 100%;
    font-size: 1em;
    margin-bottom: 15%;
  }

  .center h1 {
    font-size: 13em!important;
  }

  .wbox img {
    height: 30vw;
  }

  #headshot {
    width: 16vw;
    margin-right: -4%;
  }

  .iframe-container {
    overflow: hidden;
    padding-top: 56.25%; /* 16:9*/
    position: relative;
  }

  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }

  .header {
    width: 76%;
  }

  .headerblink {
    width: 35%;
  }

}

@media (min-width: 769px) and (max-width: 991px) {
  body {
    width: 100vw;
  }

  .scrolls {
    display: none;
  }

  h3 {
    width: 100%;
  }

  .iframe-container {
    overflow: hidden;
    padding-top: 56.25%; /* 16:9*/
    position: relative;
  }

  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }

  .headerblink {
    width: 37%;
  }

  .easy .header {
    width: 80%;
  }

  .header {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .sub {
    /* margin-top: -10%; */
    font-size: 3em !important;
    width: 100%;
  }
  
  .menuitems {
    line-height: 1.4em;
  }

  #bijouHead {
    width: 47vw;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 0.9em;
  }

  .center h1 {
    font-size: 4em;
    margin-bottom: 1%;
  }

  .scrolls {
    display: none!important;
  }

  .header {
    display: flex;
    width: 110% !important;
    align-items: center;
    justify-content: center;
  }

  #bijouHead {
    width: 55vw;
  }

  .fast {
    margin-top: -20%;
  }

  #headshot {
    width: 6vw;
    margin-right: .05%;
  }

  .sub p {
    margin-top: 3%;
    font-size: .5em;
  }

  #topLeft {
    display: none;
  }

  .top,
  .jumper {
    font-size: 0.9em;
    padding: 3%;
  }

  .home {
    font-size: 0.9em;
  }

  footer {
    font-size: 0.85em;
  }

  .menuitems {
    line-height: 1.75em;
  }

  .iframe-container {
    overflow: hidden;
    padding-top: 56.25%; /* 16:9*/
    position: relative;
  }

  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }

  .wbox img {
    height: 30vh;
    width: 40vw;
  }

  .tube {
    /*width: 50%;*/
    height: auto;
  }

  .interviewText {
    display: none;
  }

  .wbox {
    font-size: 0.8em;
  }
}


@media (min-width: 376px) and (max-width: 480px) {
  body {
    font-size: 0.8em;
  }

  .fast, .blinking {
    display: none;
  }

  h1 {
    font-size: 8em;
  }

  .iframe-container {
    overflow: hidden;
    padding-top: 56.25%; /* 16:9*/
    position: relative;
  }

  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }

  .menuitems {
    line-height: 2.3em !important;
  }

  /* Maybe remove this negative margin */
  .wheader {
    margin-top: -40%;
  }

  #topLeft {
    margin-top: 5%;
  }

  .wbox img {
    width: 36vw;
    height: 20vh;
  }

  footer {
    font-size: 0.65em;
  }

  .text {
    margin-left: 0;
  }

  .header {
    display: flex;
    width: 140% !important;
    font-size: 0.8em;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .headerblink {
    display: flex;
    width: 140%;
    font-size: 0.8em;
    text-align: center;
  }

  .easy .mid-div {
    display: none;
  }

  .easy .header {
    width: 194% !important;
  }

  .top {
    font-size: 1em;
    padding: 3%;
    width: 80%;
  }

  .jumper {
    font-size: 1.25em;
    padding: 3%;
    width: 75%;
  }

  #bijouHead {
    display: flex;
    width: 102% !important;
    font-size: 1.8em;
    text-align: center;
    margin-left: -14%;
    justify-content: center;
  }

  .text,
  .empty-div {
    width: 55%;
  }

  .left {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }

  .mid-div .case {
    display: flex;
    justify-content: end;
  }

  .scrolls {
    display: none;
  }
}

@media all and (max-width: 375px) {

  .navigation {
    width: 375px;
  }

  .fast, .blinking {
    display: none;
  }
  body {
    font-size: 0.8em;
    box-sizing: border-box;
  }

  h1 {
    font-size: 6em;
    /* width: 100vw; */
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    width: 75%;
    font-size: 1.1em;
  }

  #headshot {
    width: 30vw;
    height: auto;
    border-radius: 72%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
  }

  .scrolls, .iam, .innerIam {
    display: none;
  }

  .sub {
    margin-top: 10%;
    font-size: 3em !important;
  }

  #resume {
    margin-top: 3%!important;
  }

  .menuitems {
    display: flex;
    justify-content: left;
    font-size: 1.6em;
    line-height: 2em!important;
  }

  #topLeft {
    display: none;
  }

  .wbox img {
    /* display: none; */
    width: 80vw;
    height: 100%;
  }

  .wbox {
    font-size: .5em;
    width: 90%;
  }

  .wheader {
    font-size: 2em;
  }

  .wcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2.5em;
  }

  .wcontainerup {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 2.5em;
  }

  .footer {
    /* width: 100vw; */
    font-size: 5em;
  }

  .wheader {
    margin-top: -60%!important;
  }

  #topLeft {
    margin-top: 5%;
  }

  .text {
    margin-left: 0;
  }

  .header {
    display: flex;
    width: 100% !important;
    font-size: 0.8em;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: inherit;
  }

  .headerblink {
    display: flex;
    width: 243%;
    font-size: 0.8em;
    text-align: center;
    line-height: inherit;
  }

  .easy .mid-div {
    display: none;
  }

  .easy .header {
    width: 93% !important;
  }

  .empty-div h5 {
    display: none;
  }

  .top {
    display: none;
  }

  .jumper {
    font-size: 1.25em;
    padding: 3%;
    width: 75%;
  }

  #bijouHead {
    display: flex;
    width: 85% !important;
    font-size: 1.8em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
   line-height: inherit;
  }

  #ezhead {
    line-height: inherit;
    margin-left: 25%;
  }

  #blinkhead {
    line-height: inherit;
    margin-left: auto;
    margin-right: auto;
  }

  .home {
    font-size: 1em;
    padding: 2%;
    margin-right: 5%!important;
  }
  
  .iframe-container {
    overflow: hidden;
    padding-top: 56.25%; /* 16:9*/
    position: relative;
  }

  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }

  .tube {
    width: 100%;
  }

  .text,
  .empty-div {
    width: 55%;
  }
}